/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 GENERAL
2.0 HEADER
3.0 POSTS LIST
4.0 POST INDIVIDUAL
5.0 CONTENT BANNERS
6.0 WIDGETS
7.0 COMMENTS
8.0 PAGE
9.0 FOOTER


--------------------------------------------------------------*/


/*--------------------------------------------------------------
  1.0 GENERAL
--------------------------------------------------------------*/

  /* -- VARIABLES -- */
  $defaultBlue: #16446C;
  $defaultLightBrown: #FAFAE8;
  $defaultDarkBrown: #736D68;
  $defaultLimeGreen: #C7FF38;
  $defaultGreen: #54BC9B;

  $facebookBlue: #3B5998;
  $twitterBlue: #4099FF;
  $instagramPurple: #6555C5;
  $pinterestRed: #C92228;


  /* -- RESETS -- */
  ul{
    list-style-type: none;
  }


/*--------------------------------------------------------------
  2.0 HEADER
--------------------------------------------------------------*/

 /* -- LOGO -- */
  .header{
   margin-bottom: 2.5%;
  }

  .header-logo{
    margin-top: 10px;
  }

  .header-blogname{
    color: $defaultBlue;
  }

 /* -- NAVIGATION -- */
  .header-menu{
    margin-top: 45px;
  }

  .header-menu{
     ul{
       li{
         position: relative;
         display: inline-block;
         padding-right: 15px;
       }

       li a{
         color: $defaultBlue;
         font-size: 1.5rem;
         font-weight: 300;
       }
     }
  }

  /* -- SEARCH -- */
  .header-search{
    margin-top: 45px;
    float: right;
  }

  .search-field{
    outline: none;
    border: none;
    border-bottom: 1px solid $defaultBlue;
    min-width: 250px;
    padding-left: 4px;
    font-weight: 300;
  }

  .search-field::-webkit-input-placeholder{
    color: $defaultBlue;
    opacity: 0.25;
    font-weight: 100;
  }

  /* -- SOCIAL -- */
  .vagap-social-header{
    position:absolute;
    right: 10px;
    width: 140px;
    height: 20px;
  }

  .vagap-social-header__links{
    width: 5px;
    padding: 5px 10px;
    color:#FFFFFF;
  }

  .vagap-social-header__links_fb{
    background-color: $facebookBlue;
    padding: 5px 12px;
  }
  .vagap-social-header__links_tw{
    background-color: $twitterBlue;

  }
  .vagap-social-header__links_in{
    background-color: $instagramPurple;
  }
  .vagap-social-header__links_pi{
    background-color: $pinterestRed;
  }


  /*--------------------------------------------------------------
    3.0 POSTS LIST
  --------------------------------------------------------------*/


  /* -- INTRO POSTS -- */
  .intro-article{
    width:100%;
  }

  #intro-article-3{
    margin-top: 18px;
  }

  .intro-article__img{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: 0;
  }

  .intro-article__img_small{
    height: 200px;
  }

  .intro-article__img img{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .intro-article__img img.portrait {
    width: 100%;
    height: auto;
  }

  .post-info{
    width: 100%;
    background-color: $defaultDarkBrown;
    color: $defaultLightBrown;
    padding: 1% 2%;
    margin-top: -1.5%;
  }

  .post-info__title{
    color: $defaultLightBrown;
    font-size: 3.5rem;
    display: inline-block;
  }

  .post-info__title_small{
    font-size: 2rem;
  }

  .post-info__author a{
    color: $defaultGreen;
  }

  .post-info__date{
    color: $defaultGreen;
  }

  /* -- LIST POST -- */
  .list-post{
    border-bottom: 1px solid $defaultDarkBrown;
    padding-bottom: 2%;
    margin-bottom: 25px;
  }

  .list-post-thumbnail{
    width:100%;
  }

  .list-post-info{
    display: inline-block;
    width: 100%;
  }

  .list-post-info p{
    color: $defaultDarkBrown;
  }

  .list-post-info__title{
    margin:0;
    padding:0;
    color: $defaultBlue;
  }

  .list-post-info__author a{
    color: $defaultGreen;
  }

/*--------------------------------------------------------------
    4.0 SINGLE PAGE
--------------------------------------------------------------*/

  .single-post__title{
    color: $defaultGreen;
  }

  .single-post__article{
    color: $defaultDarkBrown;
  }



/*--------------------------------------------------------------
  5.0 CONENT BANNERS
--------------------------------------------------------------*/

 .content-banner{
   margin: 2% 0;
 }


  .footer{
    margin-top: 5%;
    padding: 3%;
    background-color: $defaultDarkBrown;
  }



@import 'responsive';
